@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-playfair);
  
  --color-primary: #0B1C2C;
  --color-secondary: #D4A017;
  --color-background: #F8F9FB;
  --color-text: #1A1A1A;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
